<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml"><head><meta charset="utf-8" /><title></title><script src="/js/console-dispatcher.babel.js"></script>{{#if hasCss}}<link href="{{renderPath}}/snippet-render/{{demoId}}/css" rel="stylesheet">{{/if}}</head><body>{{#if html}}
{{{html}}}{{/if}}{{#if hasJs}}<script src="{{renderPath}}/snippet-render/{{demoId}}/js"></script>{{/if}}</body>
</html>